{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    {% endif %}
{% endif %}

<form class="form-horizontal" action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  <fieldset>
    <div id="legend">
      <legend class="">Login</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        {{form.username}}
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        {{form.password}}
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
      </br>
        <button class="btn btn-success">Login</button>
        <input type="hidden" name="next" value="" />
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}
