{% extends "base_generic.html" %}

{% block content %}
{% if user == photo.author %}
<h1>Delete Photo</h1>

<p>Are you sure you want to delete the photo: {{ photo.title }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <div class="control-group">
    <!-- Button -->
    <div class="controls">
      <button class="btn btn-success">Yes, delete.</button>
    </div>
  </div>
</form>
{% else %}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{% endif %}

{% endblock %}
