{% extends "base_generic.html" %}

{% block content %}
<div>
  <h1>{{ photo.title }}</h1>

  <p><strong>Author:</strong> <a href="{% url 'get-key' photo.author.pk %}">{{ photo.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Description:</strong> {{ photo.description }}</p>
  <p><strong>Date of uploading:</strong> {{ photo.date }}</p>

  <div style="text-align: center;background-color:#F8F8FF">
    {% if user == photo.author %}
    <div class="control-group">
      <div class="controls">
        <a href="{% url 'delete-photo' photo.pk %}"<button class="btn btn-success">Delete</button></a>
        <a href="{% url 'edit-photo' photo.pk %}"<button class="btn btn-success">Edit</button></a>
      </div>
    </div>
  </br>
    {% endif %}
    {% if photo.image %}
    <img src="{{photo.image.url}}" width="500" height="500" />
    {%endif%}
  </div>
  {% endblock %}
