{% extends "base_generic.html" %}

{% block content %}

{% if user == photo.author %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
     {{ form.as_table }}
    </table>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Submit</button>
      </div>
    </div>

</form>
{% else %}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{% endif %}
{% endblock %}
