{% extends "base_generic.html" %}

{% block content %}

    {% if photo_list %}
      {% for photo in photo_list %}
        <div style="text-align: center; border-bottom: 1px solid #e5e5e5;">
          <p><strong>{{photo.title}}</strong></p>
          <p>By: {{photo.author.username}}</p>
          <a href="{{ photo.get_absolute_url }}">
            {% if photo.image %}<img src="{{photo.image.url}}" width="500" height="500" />{% endif %}
          </a>
        </br></br></br></br>
        </div>
      {% endfor %}
    {% else %}
      <p>There are no photos on the website.</p>
    {% endif %}
{% endblock %}
