{% extends "base_generic.html" %}

{% block content %}
  <div style="text-align: center;background-color:#F8F8FF">
    <h1>Your profile</h1>
    <p>{{user.username}}</p>
    <p>{{user.first_name}}</p>
    <p>{{user.last_name}}</p>
    <p>{{user.email}}</p>
  </br></br>
  </div>
  <div class="control-group" style="text-align: center;background-color:#F8F8FF">
    <div class="controls">
      <a href="{% url 'edit-profile' user.pk %}"<button class="btn btn-success">Edit profile</button></a>
    </div>
  </div>
  <div style="text-align: center;border-bottom: 3px solid #e5e5e5;">
    <h3>Your photos</h3>
  </div>

    {% if photo_list %}
      {% for photo in photo_list %}
        <div style="text-align: center; border-bottom: 1px solid #e5e5e5;">
          <p><strong>{{photo.title}}</strong></p>
          <a href="{{ photo.get_absolute_url }}">
            {% if photo.image %}<img src="{{photo.image.url}}" width="500" height="500" />{% endif %}
          </a>
        </br></br></br></br>
        </div>
      {% endfor %}
    {% else %}
      <p>You didn't add any photos.</p>
    {% endif %}
{% endblock %}
