{% extends "base_generic.html" %}

{% block content %}
<form action="" method="post" id="add" autocomplete="off" enctype="multipart/form-data">
<div class="fieldWrapper">
  {% csrf_token %}

  <div class="control-group">
    <label class="control-label">Title: </label>
    <div class="controls">
      {{form.title}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Description: </label>
    <div class="controls">
      {{form.description}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Image: </label>
    <div class="controls">
      {{form.image}}
    </div>
  </div>
  </br>
  

</div>
<div class="control-group">
  <!-- Button -->
  <div class="controls">
    <button class="btn btn-success">Add</button>
  </div>
</div>
</form>

{% endblock %}
