{% extends "base_generic.html" %}

{% block content %}

<div style="text-align: center">
  <h1>Users' List</h1>
</div>

{% if user_list %}
  {% for user in user_list %}
      {% ifnotequal user.is_staff True%}
        <div style="text-align: center;">
        <a href="{% url 'get-key' user.pk %}">{{ user.username }}</a>
      </div>
      {% endifnotequal %}
  {% endfor %}

{% else %}
  <p>There are no users available.</p>
{% endif %}



{% endblock %}
