{% extends "base_generic.html" %}

{% block content %}
  <div style="margin-left:20px;margin-top:20px">
    <div style="text-align: center; border-bottom: 1px solid #e5e5e5;">
      <h4>{{username}}'s photos</h4>
    </div>
    {% if photos %}
    {% for photo in photos %}
      <div style="text-align: center; border-bottom: 1px solid #e5e5e5;">
        <p><strong>{{photo.title}}</strong></p>
        <a href="{{ photo.get_absolute_url }}">
          {% if photo.image %}<img src="{{photo.image.url}}" width="500" height="500" />{% endif %}
        </a>
      </br></br></br></br>
      </div>
    {% endfor %}
    {% else %}
        <p>There are no photos of the user.</p>
    {% endif %}
  </div>
{% endblock %}
