{% extends "base_generic.html" %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="legend">
      <legend class="">Edit profile</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username: </label>
      <div class="controls">
        {{form.username}}
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail: </label>
      <div class="controls">
        {{form.email}}
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">First name: </label>
      <div class="controls">
        {{form.first_name}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Last name: </label>
      <div class="controls">
        {{form.last_name}}
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
    </br>
      <div class="controls">
        <button class="btn btn-success">Submit</button>
      </div>
    </div>

</form>


{% endblock %}
