<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>PhotoX</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        {% if user.is_authenticated %}
          <li role="presentation" class="active"><a href="{% url 'photos' %}">Home</a></li>
          <li role="presentation"><a href="{% url 'users' %}">Users</a></li>
          <li role="presentation"><a href="{% url 'add-photo' %}">Add photo</a></li>
          <li role="presentation"><a href="{% url 'my-photos' %}">My Photos</a></li>
          <li role="presentation"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
          <li role="presentation" class="active"><a href="{% url 'index' %}">Home</a></li>
          <li role="presentation"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
          <li role="presentation"><a href="{% url 'register'%}?next={{request.path}}">Sign Up</a></li>
        {% endif %}

      </ul>
    </nav>
    <h3 class="text-muted">PhotoXchange</h3>
  </div>
      {% block content %}{% endblock %}
      {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
      {% endblock %}

  </div>
</body>
</html>
