{% extends "base_generic.html" %}
{% block content %}

{% if user.is_authenticated %}
  <div class="jumbotron">
    <h1>Welcome on PhotoXchange</h1>
    <p><a class="btn btn-lg btn-success" href="{% url 'photos' %}" role="button">View all photos</a></p>
  </div>
{% else %}

  <div class="jumbotron" style="width:100%; margin:0 auto;">
    <h1>Welcome on PhotoXchange</h1>
    <p class="lead">Join us and exchange photos with your friends!</p>
    <p><a class="btn btn-lg btn-success" href="{% url 'register'%}?next={{request.path}}" role="button">Sign up today</a></p>
  </div>
{% endif %}
{% endblock %}
